name: Code Style Check

on: 
  push:
    branches:
      - new

  pull_request:
    branches:
      - new

jobs:
  checkstyle_project:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone repo
        uses: actions/checkout@v2

      - name: Set version Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0 

      - name: Install dependencies
        run: |
          npm install -g eslint --legacy-peer-deps
          npm install --legacy-peer-deps

      - name: Run ESLint
        run: |
          npx eslint .
          